<div class="d-flex flex-column min-vh-100 justify-content-center align-items-center">
    <div class="card w-25">
        <div class="card-body">
            <form  [formGroup]="loginForm" (ngSubmit)="loginForm.valid && login()" autocomplete="off">
                <h2 class="text-center text-primary mb-4">Login</h2>
            
                <app-input [formControl]='$any(loginForm).controls["username"]' 
                    [label]='"Username"'></app-input>
                <app-input [formControl]='$any(loginForm).controls["password"]' 
                    [label]='"Password"' [type]='"password"'></app-input>
                
                <div class="form-group text-left">
                    <button [disabled]="!loginForm.valid" class="btn btn-success btn-block" type="submit">Login</button>
                </div>
            </form>

            <ng-container *ngIf="validationErrors.length > 0">
                <div *ngFor="let error of validationErrors">
                    <div class="alert alert-danger alert-dismissible fade show">
                        <strong>{{error}}</strong>
                    </div>
                </div>
            </ng-container>
        </div>
        
        <div class="card-footer">
            <div class="text-center">
                <p>Don't have an account? Register <a routerLink="/auth/register"> here </a></p>
            </div>
        </div>
    </div>
    <a class="mt-4" routerLink="/">Back to home</a>
</div>