<div class="d-flex flex-column min-vh-100 justify-content-center align-items-center">
    <div class="card w-25">
        <div class="card-body">
            <form  [formGroup]="registerForm" (ngSubmit)="registerForm.valid && register()" autocomplete="off">
                <h2 class="text-center text-primary mb-4"> Register </h2>
            
                <app-input [formControl]='$any(registerForm).controls["username"]' 
                    [label]='"Username"'></app-input>
                <app-input [formControl]='$any(registerForm).controls["firstName"]' 
                    [label]='"First Name"'></app-input>
                <app-input [formControl]='$any(registerForm).controls["lastName"]' 
                    [label]='"Last Name"'></app-input>
                <app-input [formControl]='$any(registerForm).controls["password"]' 
                    [label]='"Password"' [type]='"password"'></app-input>
                <app-input [formControl]='$any(registerForm).controls["confirmPassword"]' 
                    [label]='"Confirm Password"'[type]='"password"'></app-input>
                
                <div class="form-group text-center">
                    <button [disabled]="!registerForm.valid" class="btn btn-success btn-block" type="submit">Register</button>
                </div>
            </form>
            
            <ng-container *ngIf="validationErrors.length > 0">
                <div *ngFor="let error of validationErrors">
                    <div class="alert alert-danger alert-dismissible fade show">
                        <strong>{{error}}</strong>
                    </div>
                </div>
            </ng-container>
        </div>
        
        <div class="card-footer">
            <div class="text-center">
                <p>Already have an account? Login <a routerLink="/auth/login"> here </a></p>
            </div>
        </div>
    </div>
    <a class="mt-4" routerLink="/">Back to home</a>
</div>